[{:itonami.blueprint/social-impact [:research-access :data-quality :rural-livelihoods], :itonami.blueprint/domain :agriculture/field-lab-science-support, :itonami.blueprint/required-technologies [:robotics :telemetry :forms :dmn :bpmn :audit-ledger], :itonami.blueprint/isco-08 "3141", :itonami.blueprint/name "Independent Field & Lab Science Support Practice", :itonami.blueprint/governor :field-lab-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-3141", :itonami.blueprint/license "AGPL-3.0-or-later"}]